<body>
  <div class="container" style="padding-top: 70px;">
    <div class="row">
      <div class="col s5" style="padding-bottom: 100px;">
        <div class="card">
          <div class="card-content">
            <form #precioForm="ngForm" (ngSubmit)="addPrecio(precioForm)" >
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="precioService.selectedPrecio._id">
              <div class="row">
                <div class="imput-field col s12">
                  <input type="text" name="municipio" #municipio="ngModel" 
                  [(ngModel)]="precioService.selectedPrecio.municipio" 
                  placeholder="Agregar Municipio">
                </div>
                <div class="imput-field col s12">
                  <input type="text" name="comunidad" #comunidad="ngModel" 
                  [(ngModel)]="precioService.selectedPrecio.comunidad" 
                  placeholder="Agregar comunidad">
                </div>
                <div class="imput-field col s12">
                  <input type="text" name="escenario" #escenario="ngModel" 
                  [(ngModel)]="precioService.selectedPrecio.escenario" 
                  placeholder="Agregar Escenario">
                </div>
                <div class="imput-field col s12">
                  <input type="text" name="precio" #precio="ngModel" 
                  [(ngModel)]="precioService.selectedPrecio.precio" 
                  placeholder="Agregar precio">
                </div>
                <div class="card.action">
                  <div class="input-field col s12">
                    <button class="btn right" style="margin-left: 5px">Guardar</button>
                    <button class="btn right" (click)="resetForm(precioForm)">Limpiar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s7" style="padding-top: 8px; padding-bottom: 100px;"> 
        <table style="background: aliceblue;">
          <thead>
            <th style="text-align: center;">Municipio</th>
            <th style="text-align: center;"> Comunidad</th>
            <th style="text-align: center;">Escenario</th>
            <th style="text-align: center;">Precio</th>
            <th style="text-align: center;">Operaciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let precio of precioService.precios">
              <td style="text-align: center;">{{ precio.municipio }}</td>
              <td style="text-align: center;">{{ precio.comunidad }}</td>
              <td style="text-align: center;">{{ precio.escenario }}</td>
              <td style="text-align: center;">{{ precio.precio }}</td>
              <td style="text-align: center;">
                <a (click)="editPrecio(precio)">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deletePrecio(precio._id)">
                    <i class="material-icons">delete</i>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </body>
  