<nav class="nav-wrapper" style="background: #040000">
  <div class="container"> 
    <ul>
    <!--- <li routerLinkActive="active">
          <a routerLink="employees">Registro de Grupos</a>
      </li>-->
      <li routerLinkActive="active" >
          <a routerLink="albumes">Albumes</a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="eventos">Eventos</a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="precios">Precios</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="canciones">Música</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="productos">Productos</a>
      </li>-->
    </ul>    
  </div>
</nav>

  <router-outlet></router-outlet>

