<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subir Imagen</title>
    <%- include("partials/head") -%>
</head>

<body>

    <%- include("partials/navigation") %>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Subir Imagen</h3>
                    </div>
                    <div class="card-body" style="background: #6b0c0f">
                        <form action="/upload" method="post" enctype="multipart/form-data" style="background: #6b0c0f;">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Seleccionar
                                        Archivo</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Titulo" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea name="description" placeholder="Descripción" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block" style="border-block-end-color: unset; background: #884d4d; color:blanchedalmond;">
                                    Subir
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>